<section>
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>{{itemName}}</th>
        <th>{{description}}</th>
        <th>{{price}}</th>
      </tr>
    </thead>
    <section class="card">
    <a href="/merch/{{id}}">
    <header>{{itemName}}</header>
    <img src="/images/{{filename}}" alt="{{description}}">
    </section>
  </table>
</section>