<form class="mb-md-5 mt-md-4 pb-5 login-form">
  <table class="table table-striped">
    <thead>
      <tr>
        <th></th>
        <th>{{itemName}}</th>
        <th>{{description}}</th>
        <th>{{price}}</th>
      </tr>
    </thead>
    <section class="card">
    <a href="/merch/{{id}}">
    <header>{{itemName}}</header>
    <img src="/assets/{{imageURL}}" alt="{{description}}">
    </section>
  </table>
</form>